name: CICD Pipeline

on:
    push:
        branches:
            - main  

jobs:
    compile:
        runs-on: ubuntu-latest 
        steps:
            - name: checkout code
              uses: actions/checkout@v4

            - name: setup jdk 17
              uses: actions/setup-java@v3
              with:
                  distribution: 'temurin'
                  java-version: '17'
                  cache: 'maven'
            
            - name: build with maven
              run: mvn compile

    security-check:
        runs-on: ubuntu-latest
        needs: compile
        steps:
            - name: checkout code
              uses: actions/checkout@v4

            - name: Setup Trivy
              uses: aquasecurity/trivy-action@v0.10.3
              with:
                  version: '0.34.0'

            - name: Run trivy security scan
              run: trivy fs --format table -o fs-report.txt 

            - name: gitleaks scan
              uses: zricethezav/gitleaks-action@v1.3.0
              with:
                  args: "--path=. --report=gitleaks-report.json --report-format=json"
